{% extends 'loginapp/main.html' %}
{% block content %}

<div>
    <br>
    <h3><b>Usuario:</b> {{object.user}}</h3>
    <br> 
    <h3><b>Título:</b> {{object.title}}</h3>
    <br> 
    {% if object.picture %}
    <img src="{{object.picture.url }}" width="600" height="600" style="border:1px solid">
    {% endif %}
    <br>
    <br> 
    <h3><b>Descripción:</b></h3>
    <h4>{{object.description}} </h4>
    <br> 
    <h3><b>Fecha:</b> {{object.create}}</h3>
    <br> 

</div>
<a class="btn btn-outline-success" href="{% url 'tasks'%}" role="button">Go back</a>

{% endblock content %}