    {% extends 'loginapp/main.html' %}
    {% block content %}

    

    <hr>

        {% if user.is_authenticated %}
            <h1>Mis Blogs</h1>
        {% else %}
            <h1>Pagina Principal</h1>
        {% endif %}

    <hr>

    {% if user.is_authenticated %}
        <a class="btn btn-primary btn-sm" href="{% url 'task-create' %}">Add blog</a>
    {% endif %}

    {% if search %}
        <div class="alert alert-success" role="alert">
            Busqueda con resultado!
            {{search}}
        </div>
    {% endif %}

    {% if search == "" %}
        <div class="alert alert-danger" role="alert">
            No se encontraron resultados
        </div>
    {% endif %}

{% if object_list %}
<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h3>Listado de Blogs</h3>
    <div class="table-responsive py-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Titulo</th>
                    <th>Fecha</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{task.user}}</td>
                    <td>{{task.title}}</td>
                    <td>{{task.create}}</td>
                    <td>{{task.Foto}}</td>
                    {% if user.is_authenticated %}
                    <td><a href="{% url 'task-update' task.id %}" class="btn btn-info">Edit</a></td>
                    <td><a href="{% url 'task-delete' task.id %}" class="btn btn-danger btnEliminacion">Delete</a></td>
                    {% endif %}
                    <td><a href="{% url 'task-detail' task.id %}" class="btn btn-success">Detail</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if tasks.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ tasks.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}.
            </span>

            {% if tasks.has_next %}
                <a href="?page={{ tasks.next_page_number }}">next</a>
                <a href="?page={{ tasks.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>   
    </div>

</div>

{% else %}
  <h1> No hay ningun blog!</h1>
{% endif %}

{% endblock content %}

