{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

<hr>

{% if user.is_authenticated %}
<h1>My Blogs</h1>
{% else %}
  <h1> Principal page</h1>
{% endif %}

<hr>
{% if user.is_authenticated %}
<a href="{% url 'task-create' %}">Add Task</a>
{% endif %}


<form method="get">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Search">
</form>


{% if object_list %}
<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h1>Listado de Blogs</h1>
    <div class="table-responsive py-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Title</th>
                    <th>Created</th>
                    <th colspan="2">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{task.user}}</td>
                    <td>{{task.title}}</td>
                    <td>{{task.create}}</td>
                    {% if user.is_authenticated %}
                    <td><a href="{% url 'task-update' task.id %}" class="btn btn-info">Edit</a></td>
                    <td><a href="{% url 'task-delete' task.id %}" class="btn btn-danger btnEliminacion">Delete</a></td>
                    {% endif %}
                    <td><a href="{% url 'task-detail' task.id %}" class="btn btn-success">Detail</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
  <h1> No hay ningun blog!</h1>
{% endif %}